/* $Id: pages.css,v 1.18.2.3 2010/06/26 17:18:58 johnalbin Exp $ */

/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body #page-wrapper #page {
  min-width: 980px;
  background-color: #FBFAF7;
  color: #494949;
  font: normal normal normal 12px/170% Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#page-wrapper #page {
  margin: 0px auto;
  padding: 0px 20px;
  max-width: 1270px;
}

#page-wrapper {
}

#page {
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
  margin-left: -8px;  /* Header reaches out to the edge on both sides.*/
  margin-right: -8px;
  /* Header background is 1-px wide transition between green and white
   * Repeated all the width of the header */
  height: 119px;
  #background-color: #FFFFFF;
  #background-image: url(http://tutikori.hu/sites/tutikori.hu/themes/tuti_theme/images/header-bg.png);
  #background-repeat: repeat no-repeat;
  #background-attachment: fixed;
}

#header .section {
  /* The header image also includes the patchy background */
  background-image: url(http://tutikori.hu/sites/tutikori.hu/themes/tuti_theme/images/header-mix.png);
  background-repeat: repeat no-repeat;
}

/* Wrapping link for logo */
#logo {
}

/* The real logo image, set up with Drupal's website information settings. */
#logo img {
  padding: 15px 0px 0px 5px;
}

/* Wrapper for website name and slogan */
#name-and-slogan {
}

/* The name of the website */
h1#site-name,
div#site-name {
  display: none;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

/* The slogan (or tagline) of a website */
#site-slogan {
  display: none;
}

/* Wrapper for any blocks placed in the header region */
.region-header {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  float: left;
  width: 100%;
}

#main {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  background-attachment: initial;
  background-clip: initial;
  background-color: #FBFAF7;
  background-image: url();
  background-origin: initial;
  background-position: 50% 0;
  background-repeat: repeat no-repeat;
  position: relative;
}

/*
 * Content
 */
#content {
  background-attachment: initial;
  background-clip: initial;
  background-color: transparent;
  background-image: url();
  background-origin: initial;
  background-position: 100% 0;
  background-repeat: no-repeat no-repeat;
  margin-left: 210px;
  left: 10px;
  position: relative;
}

#content .section {
  background-attachment: initial;
  background-clip: initial;
  background-color: transparent;
  background-image: url();
  background-origin: initial;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
  left: -10px;
  margin-left: -10px;
  min-height: 400px;
  padding-bottom: 5em;
  padding-left: 35px;
  padding-right: 25px;
  padding-top: 60px;
  position: relative;
  max-width: 540px;
}

#mission /* The mission statement of the site (displayed on homepage) */ {
  background-color: #FBFAF7;
  border: 1px solid #F9FBF5;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

/* Show main content area links in green
 * (Story titles, submitted by, add new comment, etc )
 */
a {
  color: #0C7A00;
  text-decoration: none;
}

  
tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
  display: none;
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

/* 1 line left empty before article titles */
#content-area h2.title {
  margin-top: 2em;
  }
  
ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

#navigation {
  display: none;
}

/* Move 'Uj hozzaszolas' link to the right */
li.first.comment_comments,
li.first.comment_add {
  float: right;
}

/* Hide 'Hozzaszolashoz regisztracio es belepes szukseges' link */
li.first.comment_forbidden {
  display: none;
}

/* Hide 'Csatolmanyok' link */
li.last.upload_attachments {
  display: none;
}

/* Display attached images next to eachother, not 1 per line */
.image-attach-body {
  display: inline;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
	#float:left;
  #margin-bottom: 5em;
  margin-left: -210px;
  margin-right: 0;
  #margin-top: 60px;
  position:relative;
  width: 210px;
  z-index: 2;
}

.region-sidebar-first .section {
  margin: 0px 0px 1.5em;
  padding: 0px 15px 0px 0px
  }


/* Don't display 'Primary links' text */
#block-menu-primary-links h2.title {
  display: none;
}

/* Don't display 'Secondary links' text */
#block-menu-secondary-links h2.title {
  display: none;
}

/* Don't put list buttons on the menu */
#block-menu-primary-links ul li {
  list-style: none outside none;
  float:left;
}


/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
	#float:right;
  #margin-bottom: 5em;
  margin-left: 0;
  margin-right: 0;
  #margin-top: 60px;
  position:relative;
  width: 210px;
  z-index: 2;
  #right: 10px;
}

.region-sidebar-second .section {
  margin: 0px 0px 1.5em;
  padding: 0px 15px 0px 0px
}

/* Box "Belepes" */
#block-user-0 {
  margin-top: 15px;
}

/* Hide title "Belepes" */
#block-user-0 h2.title {
  display: none;
}

/* Show User name / Password in green */
#block-user-0 .form-item label {
  color: #0C7A00;
}

/* Show button "Belepes" using an image, in white on hover */
#block-user-0 input.form-submit {
  width: 77px;
  height: 32px;

  text-indent: -2000px; /* move text away, don't show it */
  background-image: url(http://tutikori.hu/sites/tutikori.hu/themes/tuti_theme/images/belepes-green.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  border: none;
}
#block-user-0 input.form-submit:hover {
  background-image: url(http://tutikori.hu/sites/tutikori.hu/themes/tuti_theme/images/belepes-white.png);
}

/* Show "Create user / Lost password" in green */
div.item-list a {
  color: #0C7A00;
}

/* Show User details in green */
#block-user-1 li,
#block-user-1 a,
#block-user-1 h2.title {
  color: #0C7A00;
}

/* Center align user name when logged in */
#block-user-1 h2.title {
  align: center;
}


/* 
 * Random image block on the right
 *
*/
/* Add some space before the random image */
#block-image-1 {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Don't display 'Veletlenszeru kepek' text */
#block-image-1 h2.title {
  display: none;
}

/* Center random image */
#block-image-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Footer
 */
#footer {
  text-align: center;
}

#footer .section {
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

.region-footer {
}

/* NeoBase logo in the footer */
#block-neobase-0 {
  display: block;
  margin: 0.5em 0px;
}

/* Contact info in the footer */
#block-block-1 {
  display: block;
  margin: 0.5em 0px;
  text-align: center;
}


/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}



  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
